<div class="student-info">
  <h2 class="info-heading">Student Information</h2>
  <ul class="student-lists">
    {% for student in students %}
    <li class="lists">
      {% if student.profile_img %}
        <img src="{{ student.profile_img.url }}" class="student_img" alt="{{ student.user.username }}" width="100px" />
      {% else %}
        <i class="fa-solid fa-circle-user" style="font-size: 80px"></i>
      {% endif %}
      
      <h3 class="user_name">Username: {{ student.user.username|capfirst }}</h3>
      <h4 class="user_enrollment_no">ID: {{ student.enrollment_no }}</h4>
      
      <span class="user_owned_books">
        Books Owned: <strong>{{ student.students.count }}</strong>
      </span>
    </li>
    {% empty %}
      <p>No students found in the system.</p>
    {% endfor %}
  </ul>
</div>