<div class="student-info">
  <h2 class="info-heading">Student Information</h2>
  <ul class="student-lists">
    <li id="list">
      <h3 id="profile">Profile</h3>
      <h3 ids="user_name">Username</h3>
      <h3 id="user_enrollment_no">Student ID</h3>
      <h3 id="user_owned_books">Books Owned</h3>
      <h3 id="user_books_fine">Books Fine</h3>
    </li>
    {% for student in students %}
    <li class="lists">
      {% if student.profile_img %}
        <img src="{{ student.profile_img.url }}" class="student_img" alt="{{ student.user.username }}" />
      {% else %}
        <i class="fa-solid fa-circle-user"></i>
      {% endif %}
      
      <h3 class="user_name">Username: {{ student.user.username|capfirst }}</h3>
      <h4 class="user_enrollment_no">ID: {{ student.enrollment_no }}</h4>
      
      <span class="user_owned_books">
        Books Owned: <strong>{{ student.issued_books.count }}</strong>
      </span>
      <h3>{{ student.total_fines }}</h3>
    </li>
    {% empty %}
      <p>No students found in the system.</p>
    {% endfor %}
  </ul>
</div>