@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spirax&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #8b3dff;
  --secondary-color: #5400d1;
  --transition: all 0.3s ease;
  --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Navbar Section */
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #1d0146;
  background: linear-gradient(
    90deg,
    rgba(44, 2, 116, 1),
    rgb(44, 1, 109),
    rgba(103, 4, 251, 1)
  );
  padding: 0.4em 1.8em;
  box-shadow: var(--box-shadow);
  z-index: 30;
}

nav .logo img {
  width: 100px;
  height: 60px;
  border-radius: 50%;
}

nav ul.navbars {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5em;
  transition: var(--transition);
}

nav ul.navbars li a {
  text-decoration: none;
  color: #fff;
  transition: var(--transition);
  display: inline-block;
}

nav ul.navbars li a:hover {
  opacity: 0.5;
  transform: translateY(-2px);
}

nav ul.navbars li div {
  display: none;
}
/* Hamburger */
nav .hamburger {
  display: none;
  cursor: pointer;
  z-index: 50;
}

nav .hamburger div {
  width: 25px;
  height: 2.5px;
  background-color: #fff;
  border-radius: 2px;
  transition: var(--transition);
}

nav .hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}

nav .hamburger.active div:nth-child(2) {
  transform: translateX(-50px);
  opacity: 0;
}

nav .hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

/* SearchBar */
nav a.search {
  text-decoration: none;
  color: #fff;
  transition: var(--transition);
}

nav a.search:hover {
  opacity: 0.5;
  transform: translateY(-2px);
}

nav .ham-search {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

/* Main home section */
section.content {
  position: relative;
  height: 87.8vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

section.content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../media/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: 0;
  border: none;
}

section.content > * {
  position: relative;
  z-index: 1;
}

section.content .content-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

section.content .content-container .content-area {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
  color: white;
  margin-top: 0.8em;
}

section.content .content-container .content-area h3 {
  font-size: 1.8rem;
}

section.content .content-container .popular-books {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 1.8em;
}

section.content .popular-books .popular-book-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

section.content .popular-books .popular-heading {
  color: #fff;
}

section.content .popular-book-cont .top-books h4 {
  color: #fff;
  margin: 0.8em 0 0.2em 0;
}

section.content .popular-book-cont .top-books p {
  color: #fff;
}

section.content .top-books img {
  width: 150px;
  height: 160px;
  transition: var(--transition);
  border-radius: 5px;
}

section.content .top-books img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  /* Navbar */
  nav ul.navbars {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -46%;
    left: 0;
    z-index: 20;
    background: linear-gradient(
      90deg,
      rgba(44, 2, 116, 1),
      rgb(44, 1, 109),
      rgba(103, 4, 251, 1)
    );
    width: 100vw;
    padding: 1em;
    gap: 0.1em;
  }

  nav ul.navbars.active {
    top: 6%;
  }

  nav ul.navbars li div {
    display: block;
    width: 95vw;
    height: 1px;
    background-color: #985efd;
    margin-top: 1em;
  }
  nav ul.navbars li a {
    text-align: center;
    padding: 0.8em 0 0.5em 0;
  }
  /* Hamburger */
  nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.35em;
  }
  section.content .content-container {
    gap: 1.5em;
  }
  /* Top Books */
  section.content .popular-books .popular-book-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4em;
  }
}
