@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spirax&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #8b3dff;
  --secondary-color: #5400d1;
  --transition: all 0.3s ease-in;
  --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Navbar Section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(47, 2, 116);
  padding: 0.4em 1.8em;
  box-shadow: var(--box-shadow);
}

nav .logo img {
  width: 100px;
  height: 60px;
  border-radius: 50%;
}

nav ul.navbars {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5em;
}

nav ul.navbars li a {
    text-decoration: none;
    color: #fff;
    transition: var(--transition);
    display: inline-block;
}

nav ul.navbars li a:hover {
    opacity: 0.5;
    transform: translateY(-2px);
}

/* Main home section */
section.content {
    position: relative;
    height: 87.8vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

section.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: 0;
    background-image: url("../media/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.content > * {
  position: relative;
  z-index: 1;
}

section.content .content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

section.content .content-container .content-area {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
    color: white;
}

section.content .content-container .content-area h3 {
    font-size: 1.5rem;
}

section.content .content-container .popular-books {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}