{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard | Tour Library{% endblock title %}
{% block dash_style %}<link rel="stylesheet" href="{% static "css/dashboard.css" %}">{% endblock dash_style %}

{% block content %}
<div class="dash-cont">
    <aside class="side-bar-items">
        <div class="profile">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="user">{{ user|capfirst }}</div>
        {% if user.is_staff %}
            <a 
            href="{% url 'student_info' %}"
            hx-get="{% url 'student_info' %}"
            hx-push-url="{% url 'student_info' %}"
            hx-target=".dash-main-content"
            hx-swap="innerHTML"
            class="side-item active"
            >
            Student Information
        </a>
        {% endif %}
        <a 
            href="{% url 'statistics' %}"
            hx-get="{% url 'statistics' %}"
            hx-push-url="{% url 'statistics' %}"
            hx-target=".dash-main-content"
            hx-swap="innerHTML"
            class="side-item"
        >
            Statistics
        </a>
        <a 
            href="{% url 'borrow_history' %}"
            hx-get="{% url 'borrow_history' %}"
            hx-push-url="{% url 'borrow_history' %}"
            hx-target=".dash-main-content"
            hx-swap="innerHTML"
            class="side-item"
        >
            Borrow History
        </a>
        <a 
            href="{% url 'return_book' %}"
            hx-get="{% url 'return_book' %}"
            hx-push-url="{% url 'return_book' %}"
            hx-target=".dash-main-content"
            hx-swap="innerHTML"
            class="side-item"
        >
            Book Return
        </a>
        <a 
            href="{% url 'available_books' %}"
            hx-get="{% url 'available_books' %}"
            hx-push-url="{% url 'available_books' %}"
            hx-target=".dash-main-content"
            hx-swap="innerHTML"
            class="side-item"
        >
            Available Books
        </a>
        <i class="fa-solid fa-bars"></i>
    </aside>
    <div class="dash-main-content">
        <div class="dash-inner-default">
            <h1 class="dashboard-main-heading">Hello <i>{{user|capfirst}}</i>, Welcome to Dashboard</h1>
            <p class="dashboard-para">
                This page is default page so you can ignore it for now. Hope you enjoy it very well with us.
                Here you can manage all type of books here. Borrow it, return it and also have facility to add books. If you want to move on this page you need to click on dashboard link which is in navbar. And here you can also add your little notes and manage it too. The facility for TodoList is coming soon.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur totam rerum voluptate facilis eius. Veniam impedit quisquam dolore explicabo mollitia!. 
            </p>
        </div>
    </div>
</div>
{% endblock content %}
{% block dash_script %}<script src="{% static "js/dashboard.js" %}"></script>{% endblock dash_script %}